[Unit]
Description=portknob
After=network.target netfilter-persistent.service ufw.service SuSEfirewall2.service

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/portknob -conf /etc/portknob.conf
Type=simple
KillMode=process

[Install]
WantedBy=multi-user.target
